<div class='container mt-5'>
  <%= render 'alert' %>
  <%= form_for @workshop do |f| %>
    <div class='form-group'>
      <%= f.label(:title, 'Título') %>
      <%= f.text_field(:title, value: @workshop.title, class: 'form-control', id: 'title') %>
    </div>
    <div class='form-group'>
      <%= f.label(:resume, 'Resumo') %>
      <%= f.text_field(:resume,  value: @workshop.resume, class: 'form-control', id: 'resume') %>
    </div>
    <div class='form-group'>
      <%= f.label(:categories, 'Categorias') %><br>
      <%= f.select(:categories, Category.all.collect { |p| [p.name, p.id] }, {}, id: 'categories', class: 'form-control', multiple: true) %>
    </div>
    <div class='form-group'>
      <%= f.label(:document, 'Documento') %>
      <%= f.file_field(:document, accept: '.docx, .odt', class: 'form-control-file', id: 'document') %>
    </div>
    <div class='form-group form-check'>
      <%= f.check_box(:display, checked_value: true, unchecked_value: false, class: 'form-check-input') %>
      <%= f.label(:display, 'Exibir', class: 'form-check-label') %>
    </div>
    <%= f.submit('Salvar', class: 'btn btn-outline-success')%>
    <%= link_to 'Voltar', user_workshops_path(page: 1), class: 'btn btn-outline-info'%>
  <% end %>
</div>
