<div class='mt-5'>
    <table class='table table-striped'>
      <thead class='thead-light'>
        <tr>
          <th scope='col'>#</th>
          <th scope='col'>Título</th>
          <th scope='col'>Autor</th>
          <th scope='col'>Ver</th>
          <th scope='col'>Editar</th>
          <th scope='col'>Excluir</th>
        </tr>
      </thead>
      <tbody>
        <% if workshops.present? %>
          <% workshops.each do |workshop| %>
            <tr>
              <th scope='row'><%= workshop.id %></th>
              <td><%= workshop.title %></td>
              <td><%= User.find(workshop.author_id).name %></td>
              <td><%= link_to 'Ver', workshop_path(workshop) %></td>
              <td><%= link_to 'Editar', edit_workshop_path(workshop) %></td>
              <td><%= link_to 'Excluir', workshop_path(workshop), method: 'delete', data: {confirm: 'Tem certeza?'} %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
