<div class='container'>
  <%= render 'alert' %>

  <% if (current_user.adminRole || current_user.supervisorRole) %>
    <%= render partial: 'workshops', object: @workshops %>
  <% elsif (current_user.userRole) %>
    <%= render partial: 'workshops', object: @myWorkshops %>
  <% end %>

  <%= link_to 'Nova Oficina', new_workshop_path, class: 'btn btn-info' %>
  <%= link_to 'Voltar', root_path, class: 'btn btn-info' %>
</div>
