<!-- Navigation -->
<%= render 'header' %>

<header class="bg-primary text-white">
  <div class="container text-center" id="#top">
    <h1><%= @workshop.title %></h1>
    <p class="lead">Autor: <%= User.find(@workshop.author_id).name %> <%= User.find(@workshop.author_id).surname %></p>
    <p><%= @workshop.updated_at.strftime("Última atualização: %d/%m/%Y às %H:%M") %></p>
  </div>
  <div class="evaluation-container">
    <h3>Avaliação da vivência</h3>
    <%= render 'evaluation', :locals => {evaluation: @workshop.evaluation, no_evaluation_msg: "Vivência ainda não avaliada"} %>
    <%= @workshop.evaluation %> / 5
  </div>
</header>
<section id="about" style="padding-bottom: 10px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Resumo</h2>
        <p class="lead"><%= simple_format(@workshop.resume) %></p>
      </div>
    </div>
  </div>
</section>
<%= render 'alert' %>
<section id="baixar" style="padding-bottom: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
      </div>
      <%= link_to  "Baixar", @workshop.document, download: true, class: 'btn btn-md btn-outline-info' %>
    </div>
  </div>
</section>
<div class="container" style="margin-top: 5%;">
  <% if Role.find(current_user.role_id).name == 'Supervisor' %>
    <h3 style="text-align: center;">Validação da vivência</h3><br>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <% if @workshop.status == 'in_hold' || @workshop.status == 'rejected'%>
          <%= link_to 'Aceitar', supervisorDashboard_accept_workshop_path(id: @workshop.id), class: 'btn btn-md btn-outline-success', method: :put%>
        <% end %>
        <br>
        <% if @workshop.status == 'in_hold' || @workshop.status == 'accepted'%>
          <%= link_to 'Colocar em fase de ajustes', supervisorDashboard_write_feedback_path(id: @workshop.id), class: 'btn btn-md btn-outline-danger'%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <h4>Que nota você daria para essa vivência?</h4>
  </div>
  <div class="row">
    <fieldset class="rating">
        <% if @user_evaluation != nil && @user_evaluation.evaluationContent == 5  %>
          <input type="radio" id="star5" name="rating" value="5" checked /><label class = "full" for="star5" title="Excelente - 5 estrelas"></label>
        <% else %>
          <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Excelente - 5 estrelas"></label>
        <% end %>
        <% if @user_evaluation != nil && @user_evaluation.evaluationContent == 4.5 %>
          <input type="radio" id="star4half" name="rating" value="4 and a half" checked/><label class="half" for="star4half" title="Ótimo - 4.5 estrelas"></label>
        <% else %>
          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Ótimo - 4.5 estrelas"></label>
        <% end %>
        <% if @user_evaluation != nil && @user_evaluation.evaluationContent == 4 %>
          <input type="radio" id="star4" name="rating" value="4" checked/><label class = "full" for="star4" title="Muito bom - 4 estrelas"></label>
        <% else %>
          <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Muito bom - 4 estrelas"></label>
        <% end %>
        <% if @user_evaluation != nil && @user_evaluation.evaluationContent == 3.5 %>
          <input type="radio" id="star3half" name="rating" value="3 and a half" checked /><label class="half" for="star3half" title="Acima da média - 3.5 estrelas"></label>
        <% else %>
          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Acima da média - 3.5 estrelas"></label>
        <% end %>
        <% if @user_evaluation != nil && @user_evaluation.evaluationContent == 3 %>
          <input type="radio" id="star3" name="rating" value="3" checked /><label class = "full" for="star3" title="Bom - 3 estrelas"></label>
        <% else %>
          <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Bom - 3 estrelas"></label>
        <% end %>
        <% if @user_evaluation != nil && @user_evaluation.evaluationContent == 2.5 %>
          <input type="radio" id="star2half" name="rating" value="2 and a half" checked /><label class="half" for="star2half" title="OK - 2.5 estrelas"></label>
        <% else %>
          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="OK - 2.5 estrelas"></label>
        <% end %>
        <% if @user_evaluation != nil && @user_evaluation.evaluationContent == 2 %>
          <input type="radio" id="star2" name="rating" value="2" checked /><label class = "full" for="star2" title="Razoavel - 2 estrelas"></label>
        <% else %>
          <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Razoavel - 2 estrelas"></label>
        <% end %>
        <% if @user_evaluation != nil && @user_evaluation.evaluationContent == 1.5 %>
          <input type="radio" id="star1half" name="rating" value="1 and a half" checked /><label class="half" for="star1half" title="Mediano - 1.5 estrelas"></label>
        <% else %>
          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Mediano - 1.5 estrelas"></label>
        <% end%>
        <% if @user_evaluation != nil && @user_evaluation.evaluationContent == 1 %>
          <input type="radio" id="star1" name="rating" value="1" checked /><label class = "full" for="star1" title="Pouco satisfatória - 1 estrela"></label>
        <% else %>
          <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Pouco satisfatória - 1 estrela"></label>
        <% end %>
        <% if @user_evaluation != nil && @user_evaluation.evaluationContent == 0.5%>
          <input type="radio" id="starhalf" name="rating" value="half" checked/><label class="half" for="starhalf" title="Insatisfatório - 0.5 estrelas"></label>
        <% else %>
          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Insatisfatório - 0.5 estrelas"></label>
        <% end %>
          <input type="radio" id="starnone" style="opacity: 0;" name="rating" value="zero"/><label style="opacity: 0;" class="zero" for="starnone" title="Ruim - 0 estrelas"></label>
    </fieldset>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2>Comentários</h2>
    </div>
  </div>
</div>
<!-- comments container -->
		<div class="comment_block" style="overflow-y: scroll; margin-top: 5%; margin-bottom: 10%;" id="comments">

		<!--
			Comments are structured in the following way:

			{ul} defines a new comment (singular)
			{li} defines a new reply to the comment {ul}

			example:

			<ul>
				<comment>

				</comment

					<li>
						<reply>

						</reply>
					</li>

					<li>
						<reply>

						</reply>
					</li>

					<li>
						<reply>

						</reply>
					</li>
			</ul>

		 -->

		 <!-- used by #{user} to create a new comment -->
     <% if user_signed_in? %>
          <%= form_for(@comment, url: comment_index_path) do |f| %>
            <div class="create_new_comment" >
              <!-- current #{user} avatar -->
              <div class="input_comment">
                <%= f.text_field(:commentContent, placeholder: "Comente aqui...") %>
                <%= f.number_field(:workshop_id, hidden: true, value: @workshop.id) %>
                <%= f.number_field(:user_id, hidden: true, value: current_user.id) %>
                <%= f.submit('Comentar', class: 'btn btn-outline-success')%>
              </div>
            </div>
          <% end %>
      <% else %>
          <span><h2>Comentário não disponível, logue no sistema para comentar.</h2></span>
      <%  end %>


		 <!-- new comment -->
    <% @comments.each do |comment| %>
		 <div class="new_comment">

			<!-- build comment -->
		 	<ul class="user_comment">
		 		<!-- current #{user} avatar -->
			  <div class="comment_body">
          <% if comment.excluded == false %>
			 		  <p><%= simple_format(comment.commentContent)%></p>
          <% else %>
            <h4><em>Comentário excluído por conteúdo impróprio</em></h4>
          <% end %>
			 	</div>
        <br>
        <%= render "evaluation", locals: {evaluation: Evaluation.find_by(workshop_id: @workshop.id, user_id: comment.user_id).evaluationContent, no_evaluation_msg: "Sem a avaliação do usuario"} %>
			 	<!-- comments toolbar -->
			 	<div class="comment_toolbar">

			 		<!-- inc. date and time -->
			 		<div class="comment_details">
			 			<ul>
			 				<li><i class="fa fa-clock-o"></i><%= comment.updated_at.strftime("%H:%M") %></li>
			 				<li><i class="fa fa-calendar"></i><%= comment.updated_at.strftime("%d/%m/%Y")%></li>
              <% if comment.excluded == false %>
                <li><i class="fas fa-bug"></i><span class="user"><%= link_to 'reportar', report_path(user_id: current_user.id, comment_id: comment.id, workshop_id: @workshop.id), method: 'post'%></span></li>
              <% end %>
              <% if comment.user != nil%>
			 				  <li><i class="fa fa-user"></i><span class="user"><%=comment.user.name%></span></li>
              <% end %>
             </ul>
			 		</div>
          <div class="comment_tools">
			 		</div>

			 	</div>

		 	</ul>

		 </div>
    <% end %>
		</div>
</div>


<%= render 'footer' %>

<script>
  $(document).ready(function() {
    $("#star5").click(function () {
      console.log('oi');
      let data = {user_id: <%= current_user.id %>,
                workshop_id: <%= @workshop.id %>,
                evaluationContent: 5};
      $.ajax({
        type: "POST",
        url: '<%=evaluation_path%>',
        data: data,
        success: function () {alert('Avaliação criada com sucesso');}
      });
    });
    $("#star4half").click(function () {
      console.log('oi');
      let data = {user_id: <%= current_user.id %>,
                workshop_id: <%= @workshop.id %>,
                evaluationContent: 4.5};
      $.ajax({
        type: "POST",
        url: '<%=evaluation_path%>',
        data: data,
        success: function () {alert('Avaliação criada com sucesso');}
      });
    });
    $("#star4").click(function () {
      console.log('oi');
      let data = {user_id: <%= current_user.id %>,
                workshop_id: <%= @workshop.id %>,
                evaluationContent: 4};
      $.ajax({
        type: "POST",
        url: '<%=evaluation_path%>',
        data: data,
        success: function () {alert('Avaliação criada com sucesso');}
      });
    });
    $("#star3half").click(function () {
      console.log('oi');
      let data = {user_id: <%= current_user.id %>,
                workshop_id: <%= @workshop.id %>,
                evaluationContent: 3.5};
      $.ajax({
        type: "POST",
        url: '<%=evaluation_path%>',
        data: data,
        success: function () {alert('Avaliação criada com sucesso');}
      });
    });
    $("#star3").click(function () {
      console.log('oi');
      let data = {user_id: <%= current_user.id %>,
                workshop_id: <%= @workshop.id %>,
                evaluationContent: 3};
      $.ajax({
        type: "POST",
        url: '<%=evaluation_path%>',
        data: data,
        success: function () {alert('Avaliação criada com sucesso');}
      });
    });
    $("#star2half").click(function () {
      console.log('oi');
      let data = {user_id: <%= current_user.id %>,
                workshop_id: <%= @workshop.id %>,
                evaluationContent: 2.5};
      $.ajax({
        type: "POST",
        url: '<%=evaluation_path%>',
        data: data,
        success: function () {alert('Avaliação criada com sucesso');}
      });
    });
    $("#star2").click(function () {
      console.log('oi');
      let data = {user_id: <%= current_user.id %>,
                workshop_id: <%= @workshop.id %>,
                evaluationContent: 2};
      $.ajax({
        type: "POST",
        url: '<%=evaluation_path%>',
        data: data,
        success: function () {alert('Avaliação criada com sucesso');}
      });
    });
    $("#star1half").click(function () {
      console.log('oi');
      let data = {user_id: <%= current_user.id %>,
                workshop_id: <%= @workshop.id %>,
                evaluationContent: 1.5};
      $.ajax({
        type: "POST",
        url: '<%=evaluation_path%>',
        data: data,
        success: function () {alert('Avaliação criada com sucesso');}
      });
    });
    $("#star1").click(function () {
      console.log('oi');
      let data = {user_id: <%= current_user.id %>,
                workshop_id: <%= @workshop.id %>,
                evaluationContent: 1};
      $.ajax({
        type: "POST",
        url: '<%=evaluation_path%>',
        data: data,
        success: function () {alert('Avaliação criada com sucesso');}
      });
    });
    $("#starhalf").click(function () {
      console.log('oi');
      let data = {user_id: <%= current_user.id %>,
                workshop_id: <%= @workshop.id %>,
                evaluationContent: 0.5};
      $.ajax({
        type: "POST",
        url: '<%=evaluation_path%>',
        data: data,
        success: function () {alert('Avaliação criada com sucesso');}
      });
    });
    $("#starnone").click(function () {
      console.log('oi');
      let data = {user_id: <%= current_user.id %>,
                workshop_id: <%= @workshop.id %>,
                evaluationContent: 0};
      $.ajax({
        type: "POST",
        url: '<%=evaluation_path%>',
        data: data,
        success: function () {alert('Avaliação criada com sucesso');}
      });
    });
  });
</script>