<div class='container my-5'>
  <%= render 'alert' %>

  <!-- Page Content -->
  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-12">
      <!-- Title -->
      <h1 class="mt-4"><%= @workshop.title %></h1>

      <!-- Author -->
      <p class="lead">
      by
      <%= User.find(@workshop.author_id).name %>
      </p>

      <hr>

      <!-- Date/Time -->
      <p><%= @workshop.updated_at.strftime("Última atualização: %d/%m/%Y às %H:%M") %></p>

      <hr>

      <!-- Post Content -->
      <p class="lead"><%= @workshop.resume %></p>

      <hr>

      <!-- Attachment -->
      <%= link_to  "Baixar", @workshop.document, download: true, class: 'btn btn-sm btn-success' %>
      <hr>
      <% if Role.find(current_user.role_id).name == 'Supervisor' %>
        <% if @workshop.status == 'in_hold' || @workshop.status == 'rejected'%>
          <%= link_to 'Aceitar', supervisorDashboard_accept_workshop_path(id: @workshop.id), class: 'btn btn-md btn-success', method: :put%>
        <% end %>
        <br>
        <% if @workshop.status == 'in_hold' || @workshop.status == 'accepted'%>
          <%= link_to 'Rejeitar', supervisorDashboard_write_feedback_path(id: @workshop.id), class: 'btn btn-md btn-danger'%>
        <% end %>
        <hr>
      <% end %>

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <%= form_for @comment, url: comment_index_path(@comment) do |f| %>
            <div class='form-group'>
              <%= f.text_field(:name, class: 'form-control', placeholder: 'Nome') %>
              <%= f.text_field(:institution, class: 'form-control my-1', placeholder: 'Instituição') %>
              <%= f.text_area(:commentContent, class: 'form-control', placeholder: 'Comentário') %>
              <%= f.text_field(:workshop_id, hidden: true, value: @workshop.id) %>
            </div>
            <%= f.submit('Comentar', class: 'btn btn-sm btn-success') %>
          <% end %>
        </div>
      </div>

      <!-- Single Comment -->
      <% Comment.where(workshop_id: @workshop.id).each do |c| %>
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0"><%= c.name %>, <%= c.institution %></h5>
            <%= c.commentContent %>
          </div>
        </div>
      <% end %>


    </div>
  </div>
</div>
