<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Porcentagem e Números Irracionais</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Pagina inicial', root_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to 'Outras oficinas', workshops_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">Resumo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#baixar">Baixar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services">Comentários</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="bg-primary text-white">
  <div class="container text-center" id="#top">
    <h1><%= @workshop.title %></h1>
    <p class="lead">Autor: <%= User.find(@workshop.author_id).name %> <%= User.find(@workshop.author_id).surname %></p>
    <p><%= @workshop.updated_at.strftime("Última atualização: %d/%m/%Y às %H:%M") %></p>
  </div>
</header>

<section id="about" style="padding-bottom: 10px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Resumo</h2>
        <p class="lead"><%= simple_format(@workshop.resume) %></p>
      </div>
    </div>
  </div>
</section>
<section id="baixar" style="padding-bottom: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
      </div>
      <%= link_to  "Baixar", @workshop.document, download: true, class: 'btn btn-md btn-success' %>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <% if Role.find(current_user.role_id).name == 'Supervisor' %>
      <% if @workshop.status == 'in_hold' || @workshop.status == 'rejected'%>
        <%= link_to 'Aceitar', supervisorDashboard_accept_workshop_path(id: @workshop.id), class: 'btn btn-md btn-success', method: :put%>
      <% end %>
      <br>
      <% if @workshop.status == 'in_hold' || @workshop.status == 'accepted'%>
        <%= link_to 'Rejeitar', supervisorDashboard_write_feedback_path(id: @workshop.id), class: 'btn btn-md btn-danger'%>
      <% end %>
    <% end %>
  </div>
</div>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <% if @comments.present? %>
          <% @comments.each do |comment| %>
            <div class="comment_container container">
              <%= simple_format(comment.commentContent) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<br>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <% if user_signed_in? %>
          <%= form_with scope: :comment, url: comment_index_path do |f| %>
            <div class='form-group'>
              <%= f.label(:commentContent, 'Comentário') %>
              <%= f.text_area(:commentContent, class: 'form-control') %>
              <%= f.number_field(:workshop_id, hidden: true, value: @workshop.id) %>
              <br>
              <%= f.submit('Comentar', class: 'btn btn-success')%>
            </div>
          <% end %>
        <% else %>
          <span><h2>Comentário não disponível, logue no sistema para comentar.</h2></span>
        <%  end %>
      </div>
    </div>
  </div>
</section>


<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Departamento de Matemática da Universidade de brasília 2018</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="js/scrolling-nav.js"></script>
