<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container-fluid">
    <% if Logo.find_by(active: :true) != nil %>
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><i></i><%= Logo.find_by(active: :true).name %></a>
    <% end %>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#oficinas">Oficinas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#team">Time</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contato</a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Perfil', profile_path(), class: 'nav-link btn btn-outline-info btn-nav' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sair', destroy_user_session_path, method: 'delete', class: 'nav-link btn btn-outline-danger btn-nav' %>
          </li>
          <li class="nav-item">
            <% if current_user.isAdmin? %>
            <%= link_to 'Area de Admin', adminDashboard_home_path, class: 'nav-link btn btn-outline-info btn-nav' %>
            <% elsif current_user.isSupervisor? %>
            <%= link_to 'Area do Supervisor', supervisorDashboard_home_path, class: 'nav-link btn btn-outline-info btn-nav' %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Entrar', new_user_session_path, class: 'nav-link btn btn-outline-primary btn-nav' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Cadastrar-se', new_user_registration_path, class: 'nav-link btn btn-outline-success btn-nav'%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="masthead" style="height: 100vh; <% if Background.find_by(active: true).present? %>background-image: url(<%= url_for(Background.find_by(active: true).image) %>); background-repeat: no-repeat; background-size: cover; background-position: center;<% end %>">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Bem vindo ao Circuito de Vivencias!</div>
      <% if user_signed_in? %>
        <div class="intro-heading text-uppercase">
          <%= current_user.name %>
        </div>
      <% end %>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#oficinas">Tell Me More</a>
    </div>
  </div>
</header>

<!-- Oficinas -->
<section id="oficinas">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Oficinas</h2>
      </div>
    </div>
    <div class="row text-center">
      <% if @workshops.present? %>
        <% @workshops.each do |workshop| %>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-book-open fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading"><%= workshop.title %></h4>
            <p class="text-muted"><%= workshop.resume %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row mt-5">
      <div class="col-md-4 mx-auto">
        <% if user_signed_in? %>
          <%= link_to 'Ver mais oficinas', workshops_path(page: 1), class: 'nav-link btn btn-outline-danger btn-nav' %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Videos -->
<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Videos</h2>
      </div>
    </div>
    <div class="col-md-10 offset-md-1">
      <div class="row pb-row">
        <% if @videos.present? %>
          <% @videos.each do |video| %>
            <div class="col-md-4 pb-video">
              <iframe class="pb-video-frame" width="100%" height="240" src="https://www.youtube.com/embed/<%= video.url.match(/https\:\/\/www\.youtube\.com\/watch\?v=([\w-]{1,})/)[1] %>" frameborder="0" allowfullscreen></iframe>
              <a href="<%= video.url %>" class="form-control label-warning text-xs-center">
                <%= video.title %>
              </a>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= link_to 'Mais videos', videos_path(page: 1), class: 'btn btn-md btn-outline-warning' %>
    </div>
  </div>
</section>

<!-- About -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Circuito de Vivências</h2>
        <h3 class="section-subheading text-muted">Um pouco da nossa história!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <% if @histories.present? %>
            <% @histories.each_with_index do |history, index| %>
              <li class='<% if(index % 2 == 0) %>timeline-inverted<% end %>'>
                <div class="timeline-image" style="background-image: url(<%= url_for(history.image) %>); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4><%= history.time %></h4>
                    <h4 class="subheading"><%= history.title %></h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted"><%= history.body %></p>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Team -->
<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Nossos Idealizadores</h2>
        <h3 class="section-subheading text-muted">As pessoas que tornaram esse portal uma realidade.</h3>
      </div>
    </div>
    <div class="row">
      <% if @staff_members.present? %>
        <% @staff_members.each do |staff| %>
          <div class="mx-auto col-sm-<% if((12/@staff_members.size) > 3) %><%= 12/@staff_members.size %><% else %>4<% end %>">
            <div class="team-member">
              <%= image_tag staff.image, style: "object-fit: cover;", class: "mx-auto rounded-circle" %>
              <h4><%= staff.name %></h4>
              <p class="text-muted"><%= staff.role %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<!-- Clients -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <a >
          <%= image_tag "Departamento de matematica - UnB.png", class: "img-fluid d-block mx-auto colab-img"%>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a >
          <%= image_tag "FAP-DF.jpg", class: "img-fluid d-block mx-auto colab-img"%>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a >
          <%= image_tag "SBEM - DF.png", class: "img-fluid d-block mx-auto colab-img"%>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Contact -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Entre em contato!  </h2>
        <h3 class="section-subheading" style='color: #f2f2f2;'>Envie-nos um email ou entre em contato pelo nosso telefone.</h3>
      </div>
    </div>
    <div class="row text-center">
      <% if @contact.present? %>
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading" style='color: #d9d9d9;'>
            <%= @contact.phone %>
          </h4>
        </div>
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading" style='color: #d9d9d9;'>
              <%= @contact.email %>
          </h4>
        </div>
      <% end %>
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">© All rights Reserved. Developed by CJR.</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>