<h2>Sign up</h2>

<%= form_for @user, url: registration_path(resource_name) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "email" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, id: "name" %>
  </div>

  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname, id: "surname"%>
  </div>

  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf, id: "cpf" %>
  </div>

  <div class="field">
    <%= f.label :userPassword %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", id: "userPassword" %>
  </div>

  <div class="field">
    <%= f.label :userPasswordConfirmation %><br />
    <%= f.password_field :userPasswordConfirmation, autocomplete: "off", id: "userPasswordConfirmation" %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar-se" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
