<!DOCTYPE html>
<html>
  <head>
    <title>CircuitoDeVivencias</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'vendor/fontawesome-free/css/all.min.css'%>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag 'css/agency.min.css'%>

  </head>

  <body>
    <div class="app">
      <!-- @TOC -->
      <!-- =================================================== -->
      <!--
        + @Page Loader
        + @App Content
            - #Left Sidebar
                > $Sidebar Header
                > $Sidebar Menu

            - #Main
                > $Topbar
                > $App Screen Content
      -->

      <!-- @Page Loader -->
      <!-- =================================================== -->

      <!-- @App Content -->
      <!-- =================================================== -->
      <div>
        <!-- #Left Sidebar ==================== -->
        <div class="sidebar">
          <div class="sidebar-inner">
            <!-- ### $Sidebar Header ### -->
            <div class="sidebar-logo">
              <div class="peers ai-c fxw-nw">
                <div class="peer peer-greed">
                  <a class="sidebar-link td-n" href="index.html">
                    <div class="peers ai-c fxw-nw">
                      <div class="peer">
                        <div class="logo">
                          <%= image_tag("src/assets/static/images/logo.png") %>
                        </div>
                      </div>
                      <div class="peer peer-greed">
                        <h5 class="lh-1 mB-0 logo-text">Adminator</h5>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="peer">
                  <div class="mobile-toggle sidebar-toggle">
                    <a href="" class="td-n">
                      <i class="ti-arrow-circle-left"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- ### $Sidebar Menu ### -->
            <ul class="sidebar-menu scrollable pos-r">
              <li class="nav-item mT-30 active">
                <%= link_to(adminDashboard_home_path, class: 'sidebar-link') do %>
                  <span class="icon-holder">
                    <i class="c-blue-500 ti-home"></i>
                  </span>
                  <span class="title">Dashboard</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to(adminDashboard_users_path, class: 'sidebar-link') do %>
                  <span class="icon-holder">
                    <i class="c-blue-500 ti-user"></i>
                  </span>
                  <span class="title">Usuários</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to(categories_path, class: 'sidebar-link') do %>
                  <span class="icon-holder">
                    <i class="c-blue-500 ti-tag"></i>
                  </span>
                  <span class="title">Categorias</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to(adminDashboard_videos_path, class: 'sidebar-link') do %>
                  <span class="icon-holder">
                    <i class="c-blue-500 ti-tag"></i>
                  </span>
                  <span class="title">Videos</span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>

        <!-- #Main ============================ -->
        <div class="page-container">
          <!-- ### $Topbar ### -->
          <div class="header navbar">
            <div class="header-container">
              <ul class="nav-left">
                <li>
                  <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
                    <i class="ti-menu"></i>
                  </a>
                </li>
                <li class="search-box">
                  <a class="search-toggle no-pdd-right" href="javascript:void(0);">
                    <i class="search-icon ti-search pdd-right-10"></i>
                    <i class="search-icon-close ti-close pdd-right-10"></i>
                  </a>
                </li>
                <li class="search-input">
                  <input class="form-control" type="text" placeholder="Search...">
                </li>
              </ul>
              <ul class="nav-right">
                <li class="dropdown">
                  <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                    <div class="peer">
                      <span class="fsz-sm c-grey-900">
                        <%= current_user.name %> <%= current_user.surname %>
                      </span>
                    </div>
                  </a>
                  <ul class="dropdown-menu fsz-sm">
                    <li>
                      <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                        <i class="ti-settings mR-10"></i>
                        <span>Setting</span>
                      </a>
                    </li>
                    <li>
                      <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                        <i class="ti-user mR-10"></i>
                        <span>Profile</span>
                      </a>
                    </li>
                    <li>
                      <a href="email.html" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                        <i class="ti-email mR-10"></i>
                        <span>Messages</span>
                      </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                        <i class="ti-power-off mR-10"></i>
                        <span>Logout</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <!-- ### $App Screen Content ### -->
          <main class='main-content bgc-grey-100'>
            <div id='mainContent'>
              <%= yield %>
            </div>
          </main>

        </div>
      </div>
    </div>

    <!-- Contact form JavaScript -->
    <%= javascript_include_tag 'js/jqBootstrapValidation.js' %>
    <%= javascript_include_tag 'js/contact_me.js' %>
    <!-- Custom scripts for this template -->
    <%= javascript_include_tag 'js/agency.min.js' %>
    <%= javascript_include_tag 'vendor/jquery-easing/jquery.easing.min.js' %>
  </body>
</html>
