<!DOCTYPE html>
<html>
  <head>
    <% if Logo.find_by(active: :true) != nil %>
      <%= favicon_link_tag url_for(Logo.find_by(active: :true).image) %>
    <% end %>
    <title>Circuito de Vivencias</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <%= stylesheet_link_tag 'vendor/fontawesome-free/css/all.min.css'%>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag 'css/agency.min.css'%>
    <% if Rails.env.production?%>
      <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <% end %>

  </head>

  <body>
    <div class='app'>
      <!-- @TOC -->
      <!-- =================================================== -->
      <!--
        + @Page Loader
        + @App Content
            - #Left Sidebar
                > $Sidebar Header
                > $Sidebar Menu

            - #Main
                > $Topbar
                > $App Screen Content
      -->

      <!-- @Page Loader -->
      <!-- =================================================== -->

      <!-- @App Content -->
      <!-- =================================================== -->
      <div>
        <!-- #Left Sidebar ==================== -->
        <div class='sidebar'>
          <div class='sidebar-inner'>
            <!-- ### $Sidebar Header ### -->
            <div class='sidebar-logo'>
              <div class='peers ai-c fxw-nw'>
                <div class='peer peer-greed'>
                  <%= link_to(root_path, class: 'sidebar-link td-n') do %>
                    <div class='peers ai-c fxw-nw'>
                      <div class='peer'>
                        <div class='logo'>
                          <% if Logo.find_by(active: :true) != nil %>
                            <%= image_tag(url_for(Logo.find_by(active: :true).image), width: '64px', height: '64px') %>
                          <% end %>
                        </div>
                      </div>
                      <div class='peer peer-greed'>
                        <% if Logo.find_by(active: :true) != nil %>
                          <h5 class='lh-1 mB-0 logo-text'><%= Logo.find_by(active: :true).name %></h5>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class='peer'>
                  <div class='mobile-toggle sidebar-toggle'>
                    <a href='' class='td-n'>
                      <i class='ti-arrow-circle-left'></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- ### $Sidebar Menu ### -->
            <ul class='sidebar-menu scrollable pos-r'>
              <li class='nav-item mT-30 active'>
                <%= link_to(adminDashboard_home_path, class: 'sidebar-link') do %>
                  <span class='icon-holder'>
                    <i class='c-blue-500 ti-home'></i>
                  </span>
                  <span class='title'>Dashboard</span>
                <% end %>
              </li>
              <li class='nav-item'>
                <%= link_to(adminDashboard_users_path, class: 'sidebar-link') do %>
                  <span class='icon-holder'>
                    <i class='c-blue-500 ti-user'></i>
                  </span>
                  <span class='title'>Usuários</span>
                <% end %>
              </li>
              <li class='nav-item'>
                <%= link_to(adminDashboard_backgrounds_path, class: 'sidebar-link') do %>
                  <span class='icon-holder'>
                    <i class='c-blue-500 ti-image'></i>
                  </span>
                  <span class='title'>Imagem Inicial</span>
                <% end %>
              </li>
              <li class='nav-item'>
                <%= link_to(adminDashboard_contacts_path, class: 'sidebar-link') do %>
                  <span class='icon-holder'>
                    <i class='c-blue-500 ti-mobile'></i>
                  </span>
                  <span class='title'>Contato</span>
                <% end %>
              </li>
              <li class='nav-item'>
                <%= link_to(adminDashboard_videos_path(page: 1), class: 'sidebar-link') do %>
                  <span class='icon-holder'>
                    <i class='c-blue-500 ti-control-play'></i>
                  </span>
                  <span class='title'>Videos</span>
                <% end %>
              </li>
              <li class='nav-item'>
                <%= link_to(adminDashboard_histories_path, class: 'sidebar-link') do %>
                  <span class='icon-holder'>
                    <i class='c-blue-500 ti-calendar'></i>
                  </span>
                  <span class='title'>História</span>
                <% end %>
              </li>
              <li class='nav-item'>
                <%= link_to(adminDashboard_staff_members_path, class: 'sidebar-link') do %>
                  <span class='icon-holder'>
                    <i class='c-blue-500 ti-id-badge'></i>
                  </span>
                  <span class='title'>Membros</span>
                <% end %>
              </li>
              <li class='nav-item'>
                <%= link_to(adminDashboard_logos_path, class: 'sidebar-link') do %>
                  <span class='icon-holder'>
                    <i class='c-blue-500 ti-bookmark-alt'></i>
                  </span>
                  <span class='title'>Logomarca</span>
                <% end %>
              </li>
              <li class='nav-item'>
                <%= link_to(adminDashboard_workshops_path, class: 'sidebar-link') do %>
                  <span class='icon-holder'>
                    <i class='c-blue-500 ti-book'></i>
                  </span>
                  <span class='title'>Vivências Favoritas</span>
                <% end %>
              </li>
              <li class='nav-item'>
                <%= link_to(reports_path, class: 'sidebar-link') do %>
                  <span class='icon-holder'>
                    <i class='c-blue-500 ti-close'></i>
                  </span>
                  <span class='title'>Comentarios reportados</span>
                <% end %>
              </li>
              <li class='nav-item'>
                <%= link_to(root_path, class: 'sidebar-link') do %>
                  <span class='icon-holder'>
                    <i class='c-blue-500 ti-share-alt'></i>
                  </span>
                  <span class='title'>Voltar ao site</span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>

        <!-- #Main ============================ -->
        <div class='page-container'>
          <!-- ### $Topbar ### -->
          <div class='header navbar'>
            <div class='header-container'>
              <ul class='nav-right'>
                <li>
                  <%= link_to profile_path(id: current_user.id), class: 'd-b td-n pY-5 bgcH-grey-100 c-grey-700' do %>
                    <i class='fa fa-user mR-10'></i>
                    <span>Perfil</span>
                  <% end %>
                </li>
                <li role='separator' class='divider'></li>
                <li>
                  <%= link_to destroy_user_session_path, class: 'd-b td-n pY-5 bgcH-grey-100 c-grey-700', method: :delete do %>
                    <i class='fas fa-sign-out-alt mR-10'></i>
                    <span>Sair</span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>

          <!-- ### $App Screen Content ### -->
          <main class='main-content bgc-grey-100'>
            <div id='mainContent'>
              <%= yield %>
            </div>
          </main>

        </div>
      </div>
    </div>
    <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
        <span>Developed by CJR.</span>
</footer>

    <!-- Contact form JavaScript -->
    <%= javascript_include_tag 'js/jqBootstrapValidation.js' %>
    <%= javascript_include_tag 'js/contact_me.js' %>
    <!-- Custom scripts for this template -->
    <%= javascript_include_tag 'js/agency.min.js' %>
    <%= javascript_include_tag 'vendor/jquery-easing/jquery.easing.min.js' %>
  </body>
</html>
