<%= form_for @user, url: adminDashboard_update_user_path do |f| %>
  <div class='form-group'>
    <%= f.label(:name, 'Nome') %>
    <%= f.text_field(:name, class: 'form-control') %>
  </div>
  <div class='form-group'>
    <%= f.label(:surname, 'Sobrenome') %>
    <%= f.text_field(:surname, class: 'form-control') %>
  </div>
  <div class='form-group'>
    <%= f.label(:cpf, 'C.P.F.') %>
    <%= f.text_field(:cpf, class: 'form-control') %>
  </div>
  <div class='form-group'>
    <%= f.label(:role_id, 'Tipo de Usuário') %>
    <%= f.select(:role_id, Role.all.collect { |p| [p.name, p.id] }, { selected: @user.role_id }, class: 'form-control') %>
  </div>
  <div class='form-group'>
    <%= f.submit('Salvar', class: 'btn btn-sm btn-success') %>
  </div>

<% end %>
