
<table class='table table-striped' id='myTable' style="margin-bottom: 22%;">
  <thead class='thead-light'>
    <tr>
      <th scope='col'>Nome</th>
      <th scope='col'>C.P.F.</th>
      <th scope='col'>Tipo</th>
      <th scope='col'>Profissão</th>
      <th scope='col'>Estado</th>
      <th scope='col'>Instituição</th>
      <th scope='col'></th>
      <th scope='col'>Editar</th>
      <th scope='col'>Excluir</th>
    </tr>
  </thead>
  <tbody>
    <% if @users.present? %>
      <% @users.each do |user| %>
        <tr class='centralizado-verticalmente'>
          <td><%= user.name %></td>
          <td><%= user.cpf %></td>
          <td><%= Role.find(user.role_id).name %></td>
          <td><%= user.profession %></td>
          <td><%= user.state %></td>
          <td><%= user.institution %></td>
          <td><%= user.institution_type %></td>
          <td><%= link_to 'Editar', adminDashboard_edit_user_path(user.id), class: 'btn-sm btn-info' %></td>
          <td>
            <% if(current_user == user) %>
              <span class='btn-sm btn-secondary disabled'>Excluir</span>
            <% else %>
              <%= link_to 'Excluir', adminDashboard_users_path(id: user.id), class: 'btn-sm btn-info', method: 'delete', data: {confirm: 'Tem certeza?'} %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<script>
$('#myTable').DataTable(
  {
      "language": {
          "lengthMenu": "Mostrar _MENU_ registros por página",
          "zeroRecords": "Nada encontrado",
          "info": "Mostrando página _PAGE_ de _PAGES_",
          "infoEmpty": "Nenhuma data encontrada",
          "infoFiltered": "(filtrando _MAX_ de um total de registros)",
          "paginate": {
              "previous": "Anterior",
              "next": "Próxima",
          },
          "search": "Procurar"
      }
  }
);
</script>