<%= render 'header'%>
<%= render 'alert'%>
<section id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class='mt-5'>
          <table class='table table-striped'>
            <thead class='thead-light'>
              <tr>
                <th scope='col' style="text-align: center">Meu Perfil</th>
              </tr>
              <tr>
                <td style="text-align: center"><span>Nome:  <%= current_user.name%></span></td>
              </tr>
              <tr>
                <td style="text-align: center"><span>Sobrenome: <%= current_user.surname%></span></td>
              </tr>
              <tr>
                <td style="text-align: center"><span>CPF: <%= current_user.cpf%></span></td>
              </tr>
              <tr>
                <td style="text-align: center"><span>E-mail:  <%= current_user.email%></span></td>
              </tr>
              <tr>
                <td style="text-align: center"><span>Profição:  <%= current_user.profession%></span></td>
              </tr>
              <tr>
                <td style="text-align: center"><span>Estado:  <%= current_user.state%></span></td>
              </tr>
              <tr>
                <td style="text-align: center"><span>Tipo de instituição:  <%= current_user.institution_type%></span></td>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center">
        <div>
          <%= link_to 'Minhas Vivências', user_workshops_path(id: current_user.id, page: 1), class: 'btn btn-md btn-outline-success' %>
          <%= link_to 'Editar Perfil', my_profile_edit_path(id: current_user.id), class: 'btn btn-md btn-outline-warning' %>
          <%= link_to 'Deletar conta', my_profile_path(id: current_user.id), class: 'btn btn-md btn-outline-danger', method: :delete, data: { confirm: "Tem certeza que deseja deletar a conta?" }%>
        </div>
        </div>
            </div>
          </div>
        </div>
</section>
<footer class="py-5 bg-dark" style="margin-top: 5%;">
  <div class="container">
    <p class="m-0 text-center text-white">Developed by CJR.</p>
  </div>
  <!-- /.container -->
</footer>