<!-- Navigation -->
    <%= render 'header' %>
    <!-- Page Content -->
     <!-- Page Heading -->
        <!-- Image Section - set the background image for the header in the line below -->
    <div class="container-fluid header-image">
    <section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
    </div>
    <div class="container">

      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <div style="height: 5em;"></div>
    </section>
    <%= render 'alert' %>
    <% if @workshops.length != 0 %>
      <h1 class="my-4">Lista de Oficinas
          <p>de <%=current_user.name%></p>
      </h1>

      <div class="row">
        <% @workshops.each do |workshop| %>
          <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">
                  <%= link_to workshop.title.truncate(17), workshop_path(id: workshop.id) %>
                </h4>
                <p class="card-text"><%= workshop.resume.truncate(29)  %></p>
                <% if workshop.status == "accepted" %>
                  <p class="card-tex badge badge-success">Aceito</p>
                <% else %>
                  <% if workshop.status == "in_hold" %>
                    <p class="card-text badge badge-secondary">Em aguardo</p>
                  <% else %>
                    <p class="card-text badge badge-danger">Rejeitado</p><br>
                    <h6>Feedback</h6>
                    <%= link_to workshop.feedback.subject, rejected_workshop_feedback_path(workshop_id: workshop.id), class: "rejected-text" %>
                  <% end %>
                <% end %>
              </div>
              <div class="card-footer">
                <%= link_to "Editar", edit_workshop_path(id: workshop.id), class: "btn btn-md btn-outline-warning"%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <% if @last_page.to_i != 1 %>
        <ul class="pagination justify-content-center", style="margin-top: 5%;">
          <%if @page.to_i != 1 %>
            <li class="page-item">
              <%= link_to user_workshops_path(id: current_user.id, page: @page.to_i-1), class: "page-link" do %>
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              <% end %>
            </li>
          <% end %>
          <li class="page-item">
            <%= link_to @page, user_workshops_path(id: current_user.id, page: @page), class: "page-link btn btn-primary" %>
          </li>
          <% if @page.to_i + 1 <= @last_page%>
            <li class="page-item">
              <%= link_to @page.to_i+1, user_workshops_path(id: current_user.id, page: @page.to_i+1), class: "page-link" %>
            </li>
          <% end %>
          <% if @page.to_i + 2 <= @last_page%>
            <li class="page-item">
              <%= link_to @page.to_i+2, user_workshops_path(id: current_user.id, page: @page.to_i+2), class: "page-link" %>
            </li>
          <% end %>
          <%if @page.to_i != @last_page.to_i %>
            <li class="page-item">
              <%= link_to user_workshops_path(id: current_user.id, page: @page.to_i+1), class: "page-link", aria_label: "Next" do %>
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% end %>
    <% else %>
      <h4 class="no_workshops_message">Nenhuma oficina criada por <%= current_user.name %></h4>
    <% end %>
    <!-- /.container -->
    </div>
    <div class="container buttons-container">
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-4">
          <%= link_to "Criar uma oficina", new_workshop_path, class: "btn btn-md btn-outline-success"  %>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark" style="margin-top: 5%;">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Departamento de Matemática da universidade de Brásilia, 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
