<!-- @TOC -->
<!-- =================================================== -->
<!--
    + @Page Loader
    + @App Content
        - #Left Sidebar
            > $Sidebar Header
            > $Sidebar Menu

        - #Main
            > $Topbar
            > $App Screen Content
-->

<!-- @Page Loader -->
<!-- =================================================== -->


<!-- @App Content -->
<!-- =================================================== -->
<div>
    <!-- #Left Sidebar ==================== -->
    <%= render partial: 'header' %>

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div class='mt-5'>
            <table class='table table-striped'>
                <thead class='thead-light'>
                    <tr>
                        <th scope='col'>#</th>
                        <th scope='col'>Título</th>
                        <th scope='col'>Autor</th>
                        <th scope='col'>Status</th>
                        <th scope='col'>Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <% if @workshops.present? %>
                    <% @workshops.each do |workshop| %>
                        <tr>
                        <th scope='row'><%= workshop.id %></th>
                        <td><%= workshop.title %></td>
                        <td><%= User.find(workshop.author_id).name %></td>
                        <% if  workshop.status == 'accepted'%>
                            <td style="color: green;">Aceito</td>
                        <% else %>
                            <% if workshop.status == 'rejected' %>
                                <td style="color: red;">Em fase de ajustes</td>
                            <% else %>
                                <td style="color: gray;">Em espera</td>
                            <%end%>
                        <% end %>
                        <td><%= link_to 'Ver vivência', workshop_path(workshop) %></td>
                        </tr>
                    <% end %>
                    <% end %>
                </tbody>
            </table>
        </div>
    </main>

    <!-- ### $App Screen Footer ### -->
    <%= render partial: 'footer' %>
    </div>
</div>