<!-- @TOC -->
<!-- =================================================== -->
<!--
    + @Page Loader
    + @App Content
        - #Left Sidebar
            > $Sidebar Header
            > $Sidebar Menu

        - #Main
            > $Topbar
            > $App Screen Content
-->

<!-- @Page Loader -->
<!-- =================================================== -->


<!-- @App Content -->
<!-- =================================================== -->
<div>
    <!-- #Left Sidebar ==================== -->
    <%= render partial: 'header' %>

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div class='mt-5'>
            <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
            <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
            <table class='table table-striped' id="myTable">
                <thead class='thead-light'>
                    <tr>
                        <th scope='col'>#</th>
                        <th scope='col'>Título</th>
                        <th scope='col'>Autor</th>
                        <th scope='col'>Status</th>
                        <th scope='col'>Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <% if @workshops.present? %>
                    <% @workshops.each do |workshop| %>
                        <tr>
                        <th scope='row'><%= workshop.id %></th>
                        <td><%= workshop.title %></td>
                        <td><%= User.find(workshop.author_id).name %></td>
                        <% if  workshop.status == 'accepted'%>
                            <td style="color: green;">Aceito</td>
                        <% else %>
                            <% if workshop.status == 'rejected' %>
                                <td style="color: red;">Em fase de ajustes</td>
                            <% else %>
                                <td style="color: gray;">Em espera</td>
                            <%end%>
                        <% end %>
                        <td><%= link_to 'Ver vivência', visit_path(id: workshop.id), method: 'post' %></td>
                        </tr>
                    <% end %>
                    <% end %>
                </tbody>
            </table>
        </div>
        <script>
            $('#myTable').DataTable(
            {
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Nada encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhuma data encontrada",
                    "infoFiltered": "(filtrando _MAX_ de um total de registros)",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Próxima",
                    },
                    "search": "Procurar"
                }
            }
        );
        </script>
    </main>

    <!-- ### $App Screen Footer ### -->
    <%= render partial: 'footer' %>
    </div>
</div>
