    <div class='sidebar'>
          <div class='sidebar-inner'>
            <!-- ### $Sidebar Header ### -->
            <div class='sidebar-logo'>
              <div class='peers ai-c fxw-nw'>
                <div class='peer peer-greed'>
                  <%= link_to(root_path, class: 'sidebar-link td-n') do %>
                    <div class='peers ai-c fxw-nw'>
                      <div class='peer'>
                        <div class='logo'>
                          <% if Logo.find_by(active: :true) != nil %>
                            <%= image_tag(url_for(Logo.find_by(active: :true).image), width: '64px', height: '64px') %>
                          <% end %>
                        </div>
                      </div>
                      <div class='peer peer-greed'>
                        <% if Logo.find_by(active: :true) != nil %>
                          <h5 class='lh-1 mB-0 logo-text'><%= Logo.find_by(active: :true).name %></h5>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class='peer'>
                  <div class='mobile-toggle sidebar-toggle'>
                    <a href='' class='td-n'>
                      <i class='ti-arrow-circle-left'></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- ### $Sidebar Menu ### -->
            <ul class='sidebar-menu scrollable pos-r'>
              <li class='nav-item mT-30 active'>
                <%= link_to(supervisorDashboard_home_path, class: 'sidebar-link') do %>
                  <span class='icon-holder'>
                    <i class='c-blue-500 ti-home'></i>
                  </span>
                  <span class='title'>Dashboard</span>
                <% end %>
              </li>
              <li class='nav-item'>
                <%= link_to(supervisorDashboard_unvalidated_workshops_path, class: 'sidebar-link') do %>
                  <span class='icon-holder'>
                    <i class='c-blue-500 ti-clipboard'></i>
                  </span>
                  <span class='title'>Vivências</span>
                <% end %>
              </li>
              <li class='nav-item'>
                <%= link_to(root_path, class: 'sidebar-link') do %>
                  <span class='icon-holder'>
                    <i class='c-blue-500 ti-share-alt'></i>
                  </span>
                  <span class='title'>Voltar ao site</span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>

        <!-- #Main ============================ -->
        <div class='page-container'>
          <!-- ### $Topbar ### -->
          <div class='header navbar'>
            <div class='header-container'>
              <ul class='nav-right'>
                <li>
                  <%= link_to profile_path(id: current_user.id), class: 'd-b td-n pY-5 bgcH-grey-100 c-grey-700' do %>
                    <i class='fa fa-user mR-10'></i>
                    <span>Perfil</span>
                  <% end %>
                </li>
                <li role='separator' class='divider'></li>
                <li>
                  <%= link_to destroy_user_session_path, class: 'd-b td-n pY-5 bgcH-grey-100 c-grey-700', method: :delete do %>
                    <i class='fas fa-sign-out-alt mR-10'></i>
                    <span>Sair</span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
