<%= render 'user_header' %>
<header class="bg-primary text-white">
  <div class="container text-center" id="#top">
    <h1>Feedback da vivência:<br><%= @feedback.workshop.title %></h1>
    <p class="lead">Autor: <%= @supervisor_author.name %> <%= @supervisor_author.surname %></p>
    <p><%= @feedback.created_at.strftime("Criado em: %d/%m/%Y às %H:%M") %></p>
  </div>
</header>

<section style="padding-bottom: 10px;">
  <div class="container">
    <div class="row">
        <h4 class="subject_title">Assunto: <%= @feedback.subject %></h4>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p class="lead"><%= simple_format(@feedback.content) %></p>
      </div>
    </div>
  </div>
</section>
<%= render 'user_footer' %>